v0.2/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2024 Coalition for Health AI, Inc.

The license for this source code can be found at https://mc.chai.org/LICENSE.
-->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mc="https://mc.chai.org/v0.2/schema.xsd"
	xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="qualified" targetNamespace="https://mc.chai.org/v0.2/schema.xsd" version="v0.2">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd" />
	<xs:element name="AppliedModelCard">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BasicInfo" type="mc:BasicInfoType" />
				<xs:element name="ReleaseInfo" type="mc:ReleaseInfoType" />
				<xs:element name="ModelSummary" type="mc:ModelSummaryType" />
				<xs:element name="UsesAndDirections" type="mc:UsesAndDirectionsType" />
				<xs:element name="Warnings" type="mc:WarningsType" />
				<xs:element name="TrustIngredients" type="mc:TrustIngredientsType" />
				<xs:element name="KeyMetrics" type="mc:KeyMetricsType" />
				<xs:element name="Resources" type="mc:ResourcesType" />
				<xs:element name="Bibliography" type="xs:string" />
				<xs:element ref="ds:Signature" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BasicInfoType">
		<xs:sequence>
			<xs:element name="ModelName" type="xs:string" />
			<xs:element name="ModelDeveloper" type="xs:string" />
			<xs:element name="DeveloperContact" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReleaseInfoType">
		<xs:sequence>
			<xs:element name="ReleaseStage" type="xs:string" />
			<xs:element name="ReleaseDate" type="xs:string" />
			<xs:element name="ReleaseVersion" type="xs:string" />
			<xs:element name="GlobalAvailability" type="xs:string" />
			<xs:element name="EHRCompatability" type="mc:EHRCompatabilityType" minOccurs="0" />
			<xs:element name="RegulatoryApproval" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EHRCompatabilityType">
		<xs:sequence>
			<xs:element name="EHR" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModelSummaryType">
		<xs:sequence>
			<xs:element name="Summary" type="xs:string" />
			<xs:element name="Keywords" type="mc:KeywordsType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeywordsType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Keyword" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsesAndDirectionsType">
		<xs:sequence>
			<xs:element name="IntendedUseAndWorkflow" type="xs:string" />
			<xs:element name="PrimaryIntendedUsers" type="xs:string" />
			<xs:element name="HowToUse" type="xs:string" />
			<xs:element name="TargetedPatientPopulation" type="xs:string" />
			<xs:element name="CautionedOutOfScopeSettings" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarningsType">
		<xs:sequence>
			<xs:element name="KnownRisksAndLimitations" type="xs:string" />
			<xs:element name="KnownBiasesOrEthicalConsiderations" type="xs:string" />
			<xs:element name="ClinicalRiskLevel" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrustIngredientsType">
		<xs:sequence>
			<xs:element name="AISystemFacts" type="mc:AISystemFactsType" />
			<xs:element name="TransparencyInformation" type="mc:TransparencyInformationType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AISystemFactsType">
		<xs:sequence>
			<xs:element name="OutcomesAndOutputs" type="xs:string" />
			<xs:element name="ModelType" type="xs:string" />
			<xs:element name="FoundationModels" type="xs:string" minOccurs="0" />
			<xs:element name="InputDataSource" type="xs:string" />
			<xs:element name="OutputAndInputDataTypes" type="xs:string" />
			<xs:element name="DevelopmentDataCharacterization" type="xs:string" />
			<xs:element name="BiasMitigationApproaches" type="xs:string" />
			<xs:element name="OngoingMaintenance" type="xs:string" />
			<xs:element name="Security" type="xs:string" minOccurs="0" />
			<xs:element name="Transparency" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransparencyInformationType">
		<xs:sequence>
			<xs:element name="FundingSource" type="xs:string" />
			<xs:element name="ThirdPartyInformation" type="xs:string" minOccurs="0" />
			<xs:element name="StakeholdersConsulted" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyMetricsType">
		<xs:sequence>
			<xs:element name="UsefulnessUsabilityEfficacy" type="mc:KeyMetricType" />
			<xs:element name="FairnessEquity" type="mc:KeyMetricType" />
			<xs:element name="SafetyReliability" type="mc:KeyMetricType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyMetricType">
		<xs:sequence>
			<xs:element name="MetricGoal" type="xs:string" />
			<xs:element name="Results" type="mc:MetricResultsType" />
			<xs:element name="Interpretation" type="xs:string" />
			<xs:element name="TestType" type="xs:string" />
			<xs:element name="TestingDataDescription" type="xs:string" />
			<xs:element name="ValidationProcessAndJustification" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetricResultsType">
		<xs:sequence>
			<xs:element name="MetricResult" type="mc:MetricResultType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetricResultType">
		<xs:sequence>
			<xs:element name="Label" type="xs:string" />
			<xs:element name="ValueJson" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResourcesType">
		<xs:sequence>
			<xs:element name="EvaluationReferences" type="xs:string" minOccurs="0" />
			<xs:element name="ClinicalTrial" type="xs:string" minOccurs="0" />
			<xs:element name="PeerReviewedPublications" type="xs:string" />
			<xs:element name="ReimbursementStatus" type="xs:string" minOccurs="0" />
			<xs:element name="PatientConsentOrDisclosure" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
